<!-- TODO: replace the contents of this file with your own html -->
<div id="main" class="palm-hasheader">
	<div class="palm-header">Character (level)</div>
	<div id="main-body">
		<div id="left-column" class="gear-column">
			<img id="slot0" class="icon"/>
			<img id="slot1" class="icon"/>
			<img id="slot2" class="icon"/>
			<img id="slot14" class="icon"/>
			<img id="slot4" class="icon"/>
			<img id="slot3" class="icon"/>
			<img id="slot18" class="icon"/>
			<img id="slot8" class="icon"/>
		</div>		
		<div id="right-column" class="gear-column">
			<img id="slot9" class="icon"/>
			<img id="slot5" class="icon"/>
			<img id="slot6" class="icon"/>
			<img id="slot7" class="icon"/>
			<img id="slot10" class="icon"/>
			<img id="slot11" class="icon"/>
			<img id="slot12" class="icon"/>
			<img id="slot13" class="icon"/>
		</div>
		<div id="model-column" class="central-column">&nbsp;</div>
		<div id="profile-column" class="central-column">
                          <div id="stats-row">
                                   <div id="base-stats">
                                                <span id="strength" class="stat">Strength</span><span id="strength" class="value"/>
                                                <span id="agility" class="stat">Agility</span><span id="agility" class="value"/>
                                                <span id="stamina" class="stat">Stamina</span><span id="stamina" class="value"/>
                                                <span id="intellect" class="stat">Intellect</span><span id="intellect" class="value"/>
                                                <span id="spirit" class="stat">Spirit</span><span id="spirit" class="value"/>
                                                <span id="armor class="stat">Armor</span><span id="armor" class="value"/>
                                   </div>
                                   <div id="melee" class="stats">
                                                <span id="damage" class="stat">Damage</span><span id="damage" class="value"/>
                                               <span id="speed" class="stat">Speed</span><span id="speed" class="value"/>
                                               <span id="power" class="stat">Power</span><span id="power" class="value"/>
                                               <span id="hitRating" class="stat">Hit Rating</span><span id="hitRating" class="value"/>
                                               <span id="critChance" class="stat">Crit Chance</span><span id="critChance" class="value"/>
                                               <span id="expertise" class="stat">Crit Chance</span><span id="expertise" class="value"/>
                                   </div>

                          </div>
                          <div id="">
                          </div>
                </div>
		<div id="error-column" class="central-column">Error</div>
		<div class="gear-row">
			<img id="slot15" class="icon"/>
			<img id="slot16" class="icon"/>
			<img id="slot17" class="icon"/>
		</div>
		
	</div>
	<div id="menu" name="Menu" x-mojo-element="Menu"></div>
	
</div>
